h1 {
    color: blueviolet;
}
h2 {
    color:#9849F2;
}
img {
    align-items: center;
}
p {
    color: #7F14F5;
}
body {
    background-color: #D0F5F0;
}
table {
    color: #007AF5;
}